MedievalWarfare.Client/Service References/Proxy/MedievalWarfare.Common1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/MedievalWarfare.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MedievalWarfare.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MedievalWarfare.Common.Utility" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gold" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Neutral" type="xs:boolean" />
      <xs:element minOccurs="0" name="PlayerId" type="ser:guid" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element minOccurs="0" name="Map" nillable="true" type="tns:Map" />
      <xs:element minOccurs="0" name="Players" nillable="true" type="tns:ArrayOfPlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
  <xs:complexType name="Map">
    <xs:sequence>
      <xs:element minOccurs="0" name="Game" nillable="true" type="tns:Game" />
      <xs:element minOccurs="0" name="MaxX" type="xs:int" />
      <xs:element minOccurs="0" name="MaxY" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectList" nillable="true" type="tns:ArrayOfGameObject" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MedievalWarfare.Common.Utility" minOccurs="0" name="TileList" nillable="true" type="q1:ArrayOfTile" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Map" nillable="true" type="tns:Map" />
  <xs:complexType name="ArrayOfGameObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameObject" nillable="true" type="tns:GameObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameObject" nillable="true" type="tns:ArrayOfGameObject" />
  <xs:complexType name="GameObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="tns:Player" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MedievalWarfare.Common.Utility" minOccurs="0" name="Tile" nillable="true" type="q2:Tile" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="GameObject" nillable="true" type="tns:GameObject" />
  <xs:complexType name="Building">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GameObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Population" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Building" nillable="true" type="tns:Building" />
  <xs:complexType name="Unit">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GameObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Movement" type="xs:int" />
          <xs:element minOccurs="0" name="Strength" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Unit" nillable="true" type="tns:Unit" />
  <xs:complexType name="Treasure">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GameObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Treasure" nillable="true" type="tns:Treasure" />
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
</xs:schema>