MedievalWarfare.Client/Service References/Proxy/MedievalWarfare.WcfLib.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/MedievalWarfare.WcfLib.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MedievalWarfare.WcfLib.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PlayerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerInfo" nillable="true" type="tns:PlayerInfo" />
  <xs:complexType name="MapInfo">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="MapInfo" nillable="true" type="tns:MapInfo" />
  <xs:complexType name="Command">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Command" nillable="true" type="tns:Command" />
</xs:schema>