MedievalWarfare.Client/Service References/Proxy/MedievalWarfare.Common.Utility1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MedievalWarfare.Common.Utility" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MedievalWarfare.Common.Utility" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MedievalWarfare.Common" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfTile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tile" nillable="true" type="tns:Tile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTile" nillable="true" type="tns:ArrayOfTile" />
  <xs:complexType name="Tile">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MedievalWarfare.Common" minOccurs="0" name="ContentList" nillable="true" type="q1:ArrayOfGameObject" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Neighbours" nillable="true" type="q2:ArrayOfKeyValueOfDirectionTilenPG4BBj3" />
      <xs:element minOccurs="0" name="Type" type="tns:TileType" />
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
      <xs:element minOccurs="0" name="traversable" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tile" nillable="true" type="tns:Tile" />
  <xs:simpleType name="Direction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="N" />
      <xs:enumeration value="NE" />
      <xs:enumeration value="SE" />
      <xs:enumeration value="S" />
      <xs:enumeration value="SW" />
      <xs:enumeration value="NW" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Direction" nillable="true" type="tns:Direction" />
  <xs:simpleType name="TileType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Field" />
      <xs:enumeration value="Water" />
      <xs:enumeration value="Mountain" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TileType" nillable="true" type="tns:TileType" />
  <xs:complexType name="Command">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Command" nillable="true" type="tns:Command" />
  <xs:complexType name="MoveUnit">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Command">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MoveUnit" nillable="true" type="tns:MoveUnit" />
  <xs:complexType name="ConstructBuilding">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Command">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConstructBuilding" nillable="true" type="tns:ConstructBuilding" />
</xs:schema>