MedievalWarfare.Client/Service References/Proxy/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServerMethods" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServerMethods_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MedievalWarfare.Common" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MedievalWarfare.Common.Utility" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServerMethods_Join_InputMessage">
    <wsdl:part name="parameters" element="tns:Join" />
  </wsdl:message>
  <wsdl:message name="IServerMethods_Join_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinResponse" />
  </wsdl:message>
  <wsdl:message name="IServerMethods_Leave_InputMessage">
    <wsdl:part name="parameters" element="tns:Leave" />
  </wsdl:message>
  <wsdl:message name="IServerMethods_Leave_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveResponse" />
  </wsdl:message>
  <wsdl:message name="IServerMethods_GetGameState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameState" />
  </wsdl:message>
  <wsdl:message name="IServerMethods_GetGameState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameStateResponse" />
  </wsdl:message>
  <wsdl:message name="IServerMethods_EndTurn_InputMessage">
    <wsdl:part name="parameters" element="tns:EndTurn" />
  </wsdl:message>
  <wsdl:message name="IServerMethods_EndTurn_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndTurnResponse" />
  </wsdl:message>
  <wsdl:message name="IServerMethods_UpdateMap_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMap" />
  </wsdl:message>
  <wsdl:message name="IServerMethods_UpdateMap_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMapResponse" />
  </wsdl:message>
  <wsdl:message name="IServerMethods_ActionResult_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ActionResult" />
  </wsdl:message>
  <wsdl:message name="IServerMethods_StartTurn_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartTurn" />
  </wsdl:message>
  <wsdl:message name="IServerMethods_Update_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IServerMethods_EndGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:EndGame" />
  </wsdl:message>
  <wsdl:portType name="IServerMethods">
    <wsdl:operation name="Join">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerMethods/Join" message="tns:IServerMethods_Join_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerMethods/JoinResponse" message="tns:IServerMethods_Join_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerMethods/Leave" message="tns:IServerMethods_Leave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerMethods/LeaveResponse" message="tns:IServerMethods_Leave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameState">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerMethods/GetGameState" message="tns:IServerMethods_GetGameState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerMethods/GetGameStateResponse" message="tns:IServerMethods_GetGameState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndTurn">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerMethods/EndTurn" message="tns:IServerMethods_EndTurn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerMethods/EndTurnResponse" message="tns:IServerMethods_EndTurn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMap">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerMethods/UpdateMap" message="tns:IServerMethods_UpdateMap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerMethods/UpdateMapResponse" message="tns:IServerMethods_UpdateMap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActionResult">
      <wsdl:output wsaw:Action="http://tempuri.org/IServerMethods/ActionResult" message="tns:IServerMethods_ActionResult_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartTurn">
      <wsdl:output wsaw:Action="http://tempuri.org/IServerMethods/StartTurn" message="tns:IServerMethods_StartTurn_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:output wsaw:Action="http://tempuri.org/IServerMethods/Update" message="tns:IServerMethods_Update_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndGame">
      <wsdl:output wsaw:Action="http://tempuri.org/IServerMethods/EndGame" message="tns:IServerMethods_EndGame_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServerMethods" type="tns:IServerMethods">
    <wsp:PolicyReference URI="#NetTcpBinding_IServerMethods_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Join">
      <soap12:operation soapAction="http://tempuri.org/IServerMethods/Join" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <soap12:operation soapAction="http://tempuri.org/IServerMethods/Leave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameState">
      <soap12:operation soapAction="http://tempuri.org/IServerMethods/GetGameState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndTurn">
      <soap12:operation soapAction="http://tempuri.org/IServerMethods/EndTurn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMap">
      <soap12:operation soapAction="http://tempuri.org/IServerMethods/UpdateMap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActionResult">
      <soap12:operation soapAction="http://tempuri.org/IServerMethods/ActionResult" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTurn">
      <soap12:operation soapAction="http://tempuri.org/IServerMethods/StartTurn" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/IServerMethods/Update" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndGame">
      <soap12:operation soapAction="http://tempuri.org/IServerMethods/EndGame" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerMethods">
    <wsdl:port name="NetTcpBinding_IServerMethods" binding="tns:NetTcpBinding_IServerMethods">
      <soap12:address location="net.tcp://localhost:8732/ServerMethods" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8732/ServerMethods</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>HOKIBOT\Lunk Péter</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>